<div *ngIf="profile">
  <div>
    <form [formGroup]="rForm" (ngSubmit)="changePerson(rForm.value)">
      <div class="form-container">
        <div class="row columns">
   
            <mat-form-field class="example-full-width">
              <input matInput value="{{profile.name}}" placeholder="Name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput value="{{profile.phone}}" placeholder="Phone" formControlName="phone">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput value="{{profile.email}}" placeholder="Email" formControlName="email">
        </mat-form-field>
       
        <mat-form-field class="example-full-width">
          <input matInput value="{{profile.organisation}}" placeholder="Organisation" formControlName="organisation">
      </mat-form-field>

            <input type="submit" class="button expanded" value="Submit Form">
          </div>
        </div>
      </form>
    </div>
          
</div>
